<div class="clearfix"></div>
<div class="row">
	{% if (customer_vehicle.length == 0) { %}
		<div class="col-md-12 col-xs-12">
			<h2 class="text-muted text-center">No vehicle(s) linked to this Customer.</h2>
		</div>
	{% } else { %}
		<div class="col-md-12 col-xs-12">
			<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
				<thead>
					<tr>
						<th>License Plate</th>
						<th>Model Number</th>
						<th>Make</th>
					</tr>
				</thead>
				<tbody>
				{% for (var i=0, l=customer_vehicle.length; i<=l-1; i++) { %}

					<tr>
						<td>{{ customer_vehicle[i].license_plate }}</td>
						<td>{{ customer_vehicle[i].model }}</td>
						<td>{{ customer_vehicle[i].make }}</td>
					</tr>
				
				{% } %}
				</tbody>
			</table>
		</div>
	{% } %}
</div>
